<%- include ../partials/header.ejs %>
<% if (email) { %>
  <h1>Contacts</h1>
  <div class="contact-list">
    <% contacts.forEach(function(contact){ %>
      <div class="contact-list-member">
        <a class="contact-link" href="/contacts/<%= contact.id %>">
          <%= contact.first_name %>&nbsp;<%= contact.last_name %>
        </a>
        <form action="/contacts/<%= contact.id %>?_method=DELETE" method="POST">
          <button class="delete-contact">delete contact</button>
        </form>
      </div>
    <% }) %>
  </div>

  <% } else { %>

    <p>If you are not registered user, go
    <a id="signuplink" href="users/signup">Sign Up first</a></p>

    <p>If you are registered user, please
    <a id="loginlink" href="users/login">Login here</a></p>


<% } %>
<%- include ../partials/footer.ejs %>
